<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * @category   GPMD
 * @package    GPMD_SEOPack
 * @license    http://www.gpmd.co.uk
 */
 -->
<config>
    <modules>
        <GPMD_SEOPack>
            <version>1.1.3</version>
        </GPMD_SEOPack>
    </modules>
	<default>
		<seopack>
			<activated>
				<site_enabled>1</site_enabled>
				<filter_enabled>1</filter_enabled>
				<category_enabled>1</category_enabled>
				<product_enabled>1</product_enabled>
				<ga_ignore>1</ga_ignore>
			</activated>
		</seopack>
	</default>
    <global>
        <models>
            <seopack>
                <class>GPMD_SEOPack_Model</class>
            </seopack>
			<catalog>
				<rewrite>
					<product_visibility>GPMD_SEOPack_Model_Product_Visibility</product_visibility>
				</rewrite>
			</catalog>
        </models>
		<helpers>
			<seopack>
				<class>GPMD_SEOPack_Helper</class>
			</seopack>
		</helpers>
        <resources>
            <seopack_setup>
                <setup>
                    <module>GPMD_SEOPack</module>
                    <class>GPMD_SEOPack_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seopack_setup>
            <seopack_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seopack_write>
            <seopack_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seopack_read>
        </resources>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<seopack_controller_layout_generate_blocks_after>
						<type>singleton</type>
						<class>seopack/observer</class>
						<method>setMetaRobots</method>
					</seopack_controller_layout_generate_blocks_after>

				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <seopack>
                                            <title>SEOPack</title>
                                        </seopack>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
