<?xml version="1.0"?>
<!-- 
/**
 * @category   GPMD
 * @package    GPMD_SEOPack
 * @license    http://www.gpmd.co.uk
 * @author     Martin Dines <mdines@gpmd.co.uk>, Adrian Duke <adrian@gpmd.co.uk>
 */
 -->
<config>
    <tabs>
        <GPMD translate="label">
            <label>GPMD</label>
            <sort_order>10000</sort_order>
        </GPMD>
    </tabs>
    <sections>
        <seopack translate="label">
            <label>SEOPack</label>
            <tab>GPMD</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <activated translate="label">
                    <label>Enable / Disable</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <site_enabled translate="label">
                            <label>All Meta Robots</label>
                            <comment>
								<![CDATA[<span class="notice">Enable / Disable custom meta robots across whole site</span>]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </site_enabled>
                        <filter_enabled translate="label">
                            <depends>
                                <site_enabled>1</site_enabled>
                            </depends>
                            <label>Filter Page Meta Robots</label>
                            <comment>
								<![CDATA[Enable / Disable filtered category pages custom meta robots across site]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </filter_enabled>
                        <product_enabled translate="label">
                            <depends>
                                <site_enabled>1</site_enabled>
                            </depends>
                            <label>Product Meta Robots</label>
                            <comment>
								<![CDATA[Enable / Disable product custom meta robots across site]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </product_enabled>
                        <category_enabled translate="label">
                            <depends>
                                <site_enabled>1</site_enabled>
                            </depends>
                            <label>Category Meta Robots</label>
                            <comment>
								<![CDATA[Enable / Disable custom category meta robots across site]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </category_enabled>
                        <ga_ignore translate="label">
                            <label>GA Ignore 'Top Sites'</label>
                            <comment>
								<![CDATA[Remove 'Top Site' requests from google analytics (Safari, Opera &amp; Firefox)]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ga_ignore>
                        <rel_pagination_enabled translate="label">
                            <label>Rel Meta Pagination</label>
                            <comment>
								<![CDATA[Enable / Disable rel="next" and rel="prev" meta tags in paginated pages]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </rel_pagination_enabled>
                    </fields>
                </activated>
            </groups>
        </seopack>
    </sections>
</config>
